$font-sizes: (
    "buttons": 0.825rem,
    "cards": 0.925rem,
    "body": 1rem, 
    "headers": 1.25rem,
    "main-heading": 1.5rem 
);

$font-weights: (
    "body-400": 400, 
    "body-700": 700, 
    "headings": 600
);

@each $name, $size in $font-sizes {
    .fs-#{$name} {
        font-size: $size;
    }
}

@each $name, $weight in $font-weights {
    .fw-#{$name} {
        font-weight: $weight;
    }
}

@each $color, $value in $colors {
    .clr-#{$color} {
        color: $value;
    }
}

.ff-headings {
    font-family: 'Poppins', system-ui;
}

@include media-md {
    $font-sizes: (
        "buttons": 0.925rem,
        "cards": 1rem,
        "body": 1rem, 
        "headers": 1.5rem,
        "main-heading": 2rem 
    );

    @each $name, $size in $font-sizes {
        .fs-#{$name} {
            font-size: $size;
        }
    }
}